.vscode/extensions.json
.vscode/launch.json
WEB EjemplosCursoHTML/imagenes.html
WEB EjemplosCursoHTML/cambios.htlm
WEB EjemplosCursoHTML/index.html
WEB EjemplosCursoHTML/Audios/Anto Molina - Ya No Me Muero Por Nadie.mp3
WEB EjemplosCursoHTML/Imagenes/3.png
WEB EjemplosCursoHTML/Imagenes/centro_forestal_conesa-1024x675.jpeg
WEB EjemplosCursoHTML/Imagenes/Conesa Tableros 750x450.jpg
WEB EjemplosCursoHTML/Imagenes/FavicomVLarrat1.jpg
WEB EjemplosCursoHTML/Imagenes/FavicomVLarrat1.png
WEB EjemplosCursoHTML/Imagenes/FavicomVLarrat3.png
WEB EjemplosCursoHTML/Imagenes/FavicomVLarrat4.jpg
WEB EjemplosCursoHTML/Imagenes/FavicomVLarrat5.png
WEB EjemplosCursoHTML/Imagenes/FavicomVLarrat6.jpg
WEB EjemplosCursoHTML/Imagenes/FotoCVVLarrat.jpeg
WEB EjemplosCursoHTML/Imagenes/Imagen1.png
WEB EjemplosCursoHTML/Imagenes/Imagen2.jpg
WEB EjemplosCursoHTML/Imagenes/Logo LinkedIn2.png
WEB EjemplosCursoHTML/Imagenes/Logo Whatsapp.png
WEB EjemplosCursoHTML/Imagenes/LogoEmail2.png
WEB EjemplosCursoHTML/Imagenes/LogoVL.jpg
WEB EjemplosCursoHTML/Imagenes/LogoVL.png
WEB EjemplosCursoHTML/Imagenes/Rolli1.jpg
WEB EjemplosCursoHTML/Imagenes/Rolli2.jpg
WEB EjemplosCursoHTML/Videos p/2022-08 Gibraltar vf.mp4
WEB_CV_VLarrat/estilos.css
WEB_CV_VLarrat/index.html
WEB_CV_VLarrat/Linkeados/1 FavicomVLarrat5.png
WEB_CV_VLarrat/Linkeados/2 FotoCVVLarrat.jpeg
WEB_CV_VLarrat/Linkeados/3 Logo Whatsapp.png
WEB_CV_VLarrat/Linkeados/4 Logo LinkedIn2.png
WEB_CV_VLarrat/Linkeados/5 LogoEmail2.png
WEB_CV_VLarrat/Linkeados/6 CV Abreviado VLarrat.pdf
WEB_CV_VLarrat/Linkeados/7 CV Detallado VLarrat.pdf
WEB_CV_VLarrat/Linkeados/8 Titulos VLarrat.pdf
WEB_CV_VLarrat/Linkeados/9 Secadero Madera CeFI G-Conesa.jpg
WEB_CV_VLarrat/Linkeados/10 CosertecLavadoraLana.png
WEB_CV_VLarrat/Linkeados/11 Test-ProductoCoopParalelo42.jpg
WEB_CV_VLarrat/Linkeados/12Viñeta.png
WEB_CV_VLarrat/Linkeados/13Viñeta.png
WEB_CV_VLarrat2RW/estilos2.css
WEB_CV_VLarrat2RW/Linkeados2/1 FavicomVLarrat5.png
WEB_CV_VLarrat2RW/Linkeados2/2 FotoCVVLarrat.jpeg
WEB_CV_VLarrat2RW/Linkeados2/3 Logo Whatsapp.png
WEB_CV_VLarrat2RW/Linkeados2/4 Logo LinkedIn2.png
WEB_CV_VLarrat2RW/Linkeados2/5 LogoEmail2.png
WEB_CV_VLarrat2RW/Linkeados2/6 CV Abreviado VLarrat.pdf
WEB_CV_VLarrat2RW/Linkeados2/7 CV Detallado VLarrat.pdf
WEB_CV_VLarrat2RW/Linkeados2/8 Titulos VLarrat.pdf
WEB_CV_VLarrat2RW/Linkeados2/9 Secadero Madera CeFI G-Conesa.jpg
WEB_CV_VLarrat2RW/Linkeados2/10 CosertecLavadoraLana.png
WEB_CV_VLarrat2RW/Linkeados2/11 Test-ProductoCoopParalelo42.jpg
WEB_CV_VLarrat2RW/Linkeados2/12Viñeta.png
WEB_CV_VLarrat2RW/Linkeados2/13Viñeta.png
